/*Asterix (*) is used to select all elements on the page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: lightcoral;);
}

body{
    background-color: lightblue;
}
footer{
    background-color: orange;
}